@charset "utf-8";
/* Basic CSS Classes - Do not alter! Changes have to be confirmed! */

.cleaner {
	display:block;
	height:0;
	overflow:hidden;
	clear:both;
}
.clear {
	clear:both;
}
.float_left {
	float:left;
}
.float_right {
	float:right;
}
.hidden {
	display:none;
}
.invisible {
	visibility:hidden;
}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* Layer Overlay  ------------------------------------------------ */
#owalei {
	position: fixed;
	z-index: 9998;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #E2EDF2;
	opacity: 0.8;
	filter:alpha(opacity=80);  /* IE */
	-moz-opacity: 0.80; /* Gecko */
	cursor:pointer;
}
* html #owalei {
	position: absolute;
	height:822px;
}

/* exit link - popunder */
#exit_link {
	display:none;
	font:normal normal normal 18px/1.2 arial, verdana, helvetica, sans serif;
	position:absolute;
	top:0;
	right:20px;
	cursor:pointer;
	height:35px;
	background:transparent url(/_global/images/exit_link.png) left -35px repeat-x;
	z-index:666;
	text-decoration:none;
	color:#000;
	transition: none 0s ease 0s ;
}
#exit_link span {
	display:block;
	height:35px;
	float:left;
}
#exit_link .left {
	width:15px;
	background:transparent url(/_global/images/exit_link.png) left 0px no-repeat;
}
#exit_link .center {
	padding:5px 0 0 0;
	height:30px;
}
#exit_link .right {
	width:35px;
	background:transparent url(/_global/images/exit_link.png) right -70px no-repeat;
}
#exit_link:hover {
	background-position:left -140px;
	text-decoration:none;
	color:#000;
}
#exit_link:hover .left {
	background-position:left -105px;
}
#exit_link:hover .right {
	background-position:right -175px;
}
#exit_link_fader {
	position:absolute;
	z-index:2100;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#fff;
}
@media (max-width: 768px) {
	.sweepstake_countdown_shown #exit_link {
		top:30px;
	}
}
@media (max-width: 480px) {
	.sweepstake_countdown_shown #exit_link {
		top:60px;
	}
}

/* no thanks, close this offer */
#no_thanks {
	display:none;
	font:normal normal normal 18px/1.2 arial, verdana, helvetica, sans serif;
	position:absolute;
	top:0;
	right:20px;
	cursor:pointer;
	width:300px;
	height:35px;
	background:transparent url(/_global/images/no_thanks.png) left top no-repeat;
	z-index:2000;
	text-decoration:none;
	color:#000;
}
#no_thanks:hover {
	background-position:right top;
	text-decoration:none;
	color:#000;
}
#no_thanks.show_no_thanks {
	display:block;
}
#no_thanks span.no_thanks_text {
	display:block;
	text-align:center;
	width:270px;
	margin:0;
	padding:6px 0 0 0;
}
#no_thanks_fader {
	position:absolute;
	z-index:2100;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#fff;
}


@charset "utf-8";
/* CSS Document */

/* Layer Overlay vote */
#owalei {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #E2EDF2;
	opacity: 0.6;
	filter:alpha(opacity=60);  /* IE */
	-moz-opacity: 0.60; /* Gecko */
}
* html #owalei {
	position: absolute;
	height:822px;
}
